body 
{    
    font-family: arial;    
}
h2 
{
    background-color:#CCC;   
    border: 1px solid;    
    color:navy;
    margin-top:0px;    
    text-align: center;    
}
h3 
{
    background-color:#CCC;   
    border: 1px solid;    
    color:black;
    margin-top:0px;    
    text-align: center;    
}
.sectionModule
{
  border-style:ridge;
  width:46%;
  padding:10px;
  background:lightblue;
  float:left;
  height:165px;
  text-align:center;
  margin:2px;
}
.poolModule
{
  background:lightblue;
}
.tvRoomModule
{
  background:yellow;
}
.washerModule
{
    background:orange;
}
.dryerModule
{
    background:orangered;
}
.livingRoomModule
{
  background:darkseagreen;
}
.garageModuleClosed
{
  background:lightcyan;
}
.garageModuleOpen
{
  background:firebrick;
}
.bleModule
{
  background:lightyellow;
}
.clear 
{
  clear:both;
}
.payloadText
{
  font-style:italic;
  font-size:12px;
  padding-top:10px;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.moduleMessage{
    font-size:24px;
    font-weight:bold;
    background-color:#FFF;   
    border: 1px solid;    
    color:black;
    margin:auto;
    margin-top:5px;    
    text-align: center;
    width:75%;
}

.moduleData{
    font-size:18px;
    font-weight:bold;
    background-color:#DDD;   
    border: 1px solid;    
    color:black;
    margin:auto;
    margin-top:5px;    
    text-align: center;  
    width:50%;
}
 
